//
// Base =======================================================================
//

body {
  -webkit-font-smoothing: antialiased;
  color: @colour-neutral;
}

.wf-loading {
  #content,
  #top,
  #bottom,
  #content-top,
  #content-bottom,
  #secondary,
  #tertiary,
  #footer,
  #footer-bottom {
    font-size: 14px;
    line-height: 1.63;
  }
}

.wf-active {
  #content,
  #top,
  #bottom,
  #content-top,
  #content-bottom,
  #secondary,
  #tertiary,
  #footer,
  #footer-bottom {
    font-size: 16px;
    line-height: 1.43;
  }
}
