//
// Buttons =====================================================================
//
.button,
button,
input[type=submit] {
  .border-radius(2px);
  .box-shadow(none);
  .transition(.2s all);

  background-color: @colour-primary-light;
  background-image: none;
  border: 0;
  text-shadow: none;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    .box-shadow(none);

    background-color: @colour-secondary;
  }

  &:active {
    .box-shadow(inset 0 3px 8px 0 rgb(0, 0, 0, .2));

    background-color: @colour-secondary;
  }
}

.selecter {
  // Mimic button styling
  > .selecter-selected {
    position: relative;

    &:before {
      content: "\f107";
      display: block;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      speak: none;

      color: #fff;
      background-color: @colour-primary-light;

      text-align: center;
      height: 100%;

      .font-size(23);

      line-height: 1.35;

      position: absolute;
      right: 0;
      top: 0;
      width: 40px;

      .transition(.2s all);
    }
  }

  .selecter-selected:hover:before,
  &.open .selecter-selected:before {
    background-color: @colour-secondary;
  }
}
