//
// Forms =======================================================================
//

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"] {
  padding-top: 0;
  padding-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  .border-radius(2px);

  vertical-align: middle;

  &:focus {
    border-color: @colour-primary-light;
  }
}

.form-item--checkbox > .form-item__field {
  padding-left: 25px;

  > .form-checkbox {
    float: left;
    margin-left: -25px;
    margin-top: 5px
  }

  > .form-item__label--option {
    padding-left: 0;
  }
}

// Stop the original select element from being selectable from outside element area.
html.js .selecter-element {
  z-index: -1;
}

.selecter {
  max-width: none;

  &.open > selecter-selected {
    .border-radius(2px);
  }

  > .selecter-selected {
    .border-radius(2px);
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
    .height(1.5);
    .padding(horizontal, 1/4);
    .padding(vertical, 1/3);
    .placeholder();
    .transition(~'border-color .15s linear');

    background-color: #fff;
    border: 1px solid #ccc;
    line-height: normal;
    width: 100%;

    padding-right: 1.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.open > .selecter-selected {
    background-color: #fafafa;
    border-color: @colour-primary-light;
  }
}

.form-button:hover,
.form-button:focus,
.form-button:active,
button:hover,
button:focus,
button:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
.button:hover,
.button:focus,
.button:active {
  background-color: @colour-secondary;
}

::-webkit-input-placeholder {
  .placeholder();
}

:-moz-placeholder { /* Firefox 18- */
  .placeholder();
}

::-moz-placeholder {  /* Firefox 19+ */
  .placeholder();
}

:-ms-input-placeholder {
  .placeholder();
}
