//
// Headings ====================================================================
//

h1, h2, h3, h4, h5, h6 {
  color: #003d7d;
  font-family: futura-pt;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
  line-height: 1.76;
}

h1,
.box--menu-section h2.box__title,
.box--gk-articles-gk-articles-promoted .box__title,
.box--gk-events-gk-events-promoted .box__title {
  color: #003d7d;

  .font-size(24);
  .margin(bottom, 1.3);
  .padding(bottom, 1.1);

  font-weight: 400;

  border-bottom: 1px solid #cecece;
  margin-top: 0;
  text-align: center;

  &:before,
  &:after {
    .inline-block();
    .margin(horizontal, 1/2);
    .padding(bottom, 1/3);

    content: '•';
    font-size: .5em;
    vertical-align: middle;
  }
}

h2,
h3,
.box--menu-section h3.box__title,
.box--menu-section h4.box__title {
  .margin(bottom, 1.2);

  .font-size(17);
  font-weight: 500;
  line-height: 1.5;
}

h2,
.box--menu-section h3.box__title,
.box--menu-section h4.box__title {
  color: @colour-secondary;
}

h3,
h5 {
  color: @colour-neutral;
}

h4, h5 {
  .font-size(17);
  text-transform: none;
}


h6 {
  .font-size(16);
  font-style: italic;
  text-transform: none;
}
