table {
  border: 1px solid @colour-neutral-light;

  th,
  td {
    .padding(horizontal, 1);
    .padding(vertical, 2/3);
    border-left: 1px solid @colour-neutral-light;
    border-right: 1px solid @colour-neutral-light;
    border-bottom: 1px dotted @colour-neutral-light;
  }

  th {
    font-family: @headings-font-family;
    font-weight: normal;
    text-transform: uppercase;
  }

  thead th {
    background: @colour-neutral-lighter;
    border-bottom: 1px solid @colour-neutral-light;
    white-space: nowrap;
  }

  tbody th {
    border-right: 1px solid @colour-neutral-light;
  }
}