p.standfirst {
  .font-size(18);
}

blockquote {
  background-color: @colour-neutral-lighter;
  border-left: 1px solid @colour-secondary;

  .padding(horizontal, 1.2);
  .padding(vertical, 0.9);

  > p {
    &:before {
      content: open-quote;
      display: inline;
    }

    &:after {
      content: close-quote;
      display: inline;
    }
  }
}
