@base-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@base-font-size: 15;

body,
.body {
  background: @colour-neutral-lighter;
}

h1, h2, h3, h4, h5, h6 {
  color: @colour-primary;
  font-family: @headings-font-family;
  font-weight: 400;
}

h2 {
  color: @colour-secondary;
	font-size: 19px;
	margin-bottom: 20px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}

p,
li,
.prose td {
	color: @base-font-colour;
  font-size: @base-font-size + 0px;
  font-family: @base-font-family;
  line-height: 1.5;
}

p {
	margin-bottom: 20px;
	margin-top: 0;
	padding-bottom: 0;
}

.prose > tr > td {
	padding-bottom: 20px;
}

.header {
  .columns td {
    text-align: center;

		img {
			float: none;
			display: inline;
		}
  }
}

.content {
	> tr > td > center > .container {
		background: #fff;
		border: 1px solid @colour-neutral-light;
	}
}

.banner > tr > .wrapper {
  border-left: 5px solid #fff;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
  padding: 0;

	.inner {
		width: 570px;
	}
}

.content__body > tr > .wrapper {
  background: #fff;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;

  .inner {
		width: 530px;

		> tr > td {
			background: #fff;
		}
  }
}

.gk_rewards--confirm_details {
  .content__body > tr > .wrapper {
    background: #00356B;
    border-bottom: 5px solid #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    border-top: 0;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0;

    .inner {
			width: 520px;

			> tr > td {
				padding: 25px 25px 5px 25px;

				&.expander {
					padding: 0;
				}
			}
		}
  }
}

.footer {
  td {
		color: @base-font-colour;
		font-family: @base-font-family;
    font-size: 11px;
		line-height: 1.5;
  }
}

// Buttons
table {
	.button,
	.tiny-button,
	.small-button,
	.medium-button,
	.large-button {
		margin-left: auto;
		margin-right: auto;

		td {
			background: @colour-secondary;
			border: 0;

			a {
				color: #fff;
				font-family: @headings-font-family;
				font-size: @base-font-size + 0px;
				font-weight: bold;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}

	.medium-button {
		width: 50%;
	}
}

// Vouchers
.gk_vouchers--voucher_reward .content__body > tr > .wrapper {
  padding-bottom: 25px;
}

table.container .voucher {
	> table.row {
		display: table;
	}

	.voucher__intro td {
		text-align: center;
	}

	.voucher__offer td {
		color: @colour-secondary;
		font-size: 40px;
		text-align: center;
	}

	.voucher__summary td {
		text-align: center;
	}

	.voucher__code td {
		font-weight: bold;
		text-align: center;
	}

	.voucher__qr-code td {
		text-align: center;

		img {
			background: #fff;
			border: 1px solid @colour-neutral-light;
			display: inline;
			float: none;
			padding: 5px;
		}
	}

	.voucher__terms td {
		background: @colour-primary;
		color: #fff;
		font-size: 11px;
		font-family: @base-font-family;
		line-height: 1.5;

		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

// Rewards: Confirm details.
table.container .confirm-details {
	> table.row {
		display: table !important;
	}

	.confirm-details__intro td {
		color: @colour-secondary;
		font-size: 19px;
		text-align: center;
		text-transform: uppercase;
	}

	.confirm-details__summary td {
		text-align: center;
	}
}

table.gk_rewards--confirm_details {
	table.banner {
		background: #00356B;
	}
}

// Rewards: Tier notify.
table.container .reward-tier-notify {
	> table.row {
		display: table !important;
	}

	.reward-tier-notify__summary td {
		text-align: center;
	}
}

// Referrals.
table.container .referral {
	> table.row {
		display: table !important;
	}
}

.referral__intro td {

}

.referral__summary > tr > td {
	padding-bottom: 0;

	h2, p {
		text-align: center;
	}
}

.referral__outro td {
	text-align: center;

	img {
		display: inline;
		float: none;
	}
}
