@import "@{minima-path}/mixins/box_model.less";
@import "@{minima-path}/mixins/clearfix.less";
@import "@{minima-path}/mixins/inline-block.less";
@import "@{minima-path}/mixins/css3.less";
@import "@{minima-path}/mixins/typography.less";
@import "@{minima-path}/mixins/width.less";
@import "@{minima-path}/mixins/push.less";
@import "@{minima-path}/mixins/pull.less";
@import "@{minima-path}/mixins/grid.less";

@import "@{minima-path}/layout/desk.less";
@import "layout/desk.less";


.container {
  *zoom: 1;
}

.container__inner {
  width: 940px;
}
