.button-append() {
  .form-item,
  .form-button,
  .form-submit {
    float: left;
    margin: 0;
  }

  .form-item {
    width: 85%;
  }

  .form-button,
  .form-submit {
    .border-radius(0 2px 2px 0);
    .font-size(23);

    line-height: 1;
    width: 15%;
  }

  .form-text {
    .border-radius(2px 0 0 2px);
  }
}

.placeholder() {
  color: @colour-neutral;
  font-family: @headings-font-family;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 2;
  text-transform: uppercase;

  vertical-align: bottom;
}
