.affiliates {
  margin: 0;
  padding: 0;

  > li {
    .inline-block();
    .margin(bottom);
    .margin(right);

    list-style: none;
  }
}

.affiliates__link {
  .transition(0.2s opacity);

  background: url(../images/sprite.png) -57px 0 no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -999em;

  &:hover {
    opacity: 0.5;
  }
}

.affiliates__link--loch-fyne {
  background-position: 0 -40px;
  height: 25px;
  width: 105px;
}

.affiliates__link--freedom-food {
  height: 37px;
  width: 46px;
}
