//
// Banners =====================================================================
//
.banner-slideshow {
  position: relative;
}

.banner-slideshow__slide  {
  .frame();

  border: 0;
  width: 100%;

  img {
    border: 5px solid #fff;
    display: block;
    height: auto !important;
    max-width: 100%;
    width: 100%;
  }
}

.banner-slideshow__controls {
  .margin(bottom, 1/2);

  color: #fff;
  text-align: right;
}

.banner-slideshow__prev,
.banner-slideshow__next {
  .inline-block();
  .font-size(23);

  cursor: pointer;
  vertical-align: middle;

  &:hover {
    color: @colour-primary;
  }
}

.banner-slideshow__prev {
  .icon--angle-left;
}

.banner-slideshow__next {
  .icon--angle-right;

  margin-left: 7px;
}

.banner-slideshow__pager {
  .inline-block();

  vertical-align: middle;

  span {
    .font-size(7);

    color: @colour-primary-light;
    cursor: pointer;
    margin: 0 5px;
    vertical-align: middle;

    &:hover {
      color: @colour-primary;
    }

    &.cycle-pager-active {
      color: #fff;
    }
  }
}

.gk-cycle-slideshow {
  position: relative;
}

.gk-cycle-slideshow__slide  {
  .frame();

  border: 0;
  width: 100%;

  img {
    border: 5px solid #fff;
    display: block;
    height: auto !important;
    max-width: 100%;
    width: 100%;
  }
}

.gk-cycle-slideshow__controls {
  .margin(bottom, 1/2);

  color: #fff;
  text-align: right;
}

.gk-cycle-slideshow__prev,
.gk-cycle-slideshow__next {
  .inline-block();
  .font-size(23);

  cursor: pointer;
  vertical-align: middle;

  &:hover {
    color: @colour-primary;
  }
}

.gk-cycle-slideshow__prev {
  .icon--angle-left;
}

.gk-cycle-slideshow__next {
  .icon--angle-right;

  margin-left: 7px;
}

.gk-cycle-slideshow__pager {
  .inline-block();

  vertical-align: middle;

  span {
    .font-size(7);

    color: @colour-primary-light;
    cursor: pointer;
    margin: 0 5px;
    vertical-align: middle;

    &:hover {
      color: @colour-primary;
    }

    &.cycle-pager-active {
      color: #fff;
    }
  }
}
