.box {}

.box__title {
  margin-top: 0;
}

.box__content {
  .clearfix();

  > :last-child {
    margin-bottom: 0;
  }
}

// Banner images.
#top .box__content > img {
  border: 5px solid #fff;
  height: auto !important;
  max-width: 100%;
  width: 100%;
}

// Member sign up form.
.box--gk-members-gk-members-signup-form {
  .button-append();

  .form-item {
    .font-size(14);

    line-height: 1;
    width: 160px;
  }

  .form-text {
    .padding(horizontal, 1/4);

    padding-bottom: 0;
    padding-top: 0;
  }

  .form-button {
    .font-size(15);
    .padding(horizontal, 2/3);

    background: @colour-primary-lighter;
    color: @colour-primary;
    line-height: 1;
    width: auto;

    &:hover {
      background: @colour-primary;
      color: #fff;
    }
  }

  .form-text,
  .form-button {
    .height(1.2);
  }

  .box__title {
    .font-size(14);
    .inline-block();
    .margin(right, 1/2);

    color: @colour-neutral-darker;
    font-family: @headings-font-family;
    font-weight: normal;
    letter-spacing: 0.1em;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
  }

  .box_content {
    float: left;
  }
}

// Search forms.
#search {
  .box__title {
    .font-size(15);
    .margin(bottom, 1/2);

    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
  }
}

#search .box--block .box__title {
  color: #003d7d;
  font-weight: 400;
}

.box--gk-locations-gk-locations-search-form {
  .button-append();
}

.box--gk-menus-gk-menus-choose-location-form,
.box--gk-locations-gk-locations-choose-form {
  .form-item {
    margin: 0;
  }

  .selecter {
    max-width: 100%;
    margin: 0;

    .selecter-selected {
      .height(1.5);
    }
  }
}

#top {
  .box--gk-locations-gk-locations-search-form,
  .box--gk-menus-gk-menus-current-location {
    .box__inner {
      .padding(horizontal);
      .padding(vertical, .55);

      background: url(/sites/all/themes/lfsg/images/footer_bg.png);
    }
  }
}

// News / events blocks.
.front .box--gk-articles-gk-articles-promoted,
.front .box--gk-events-gk-events-promoted {
  .box__inner {
    .padding(all);

    background: #fff;
    border: 1px solid @colour-neutral-light;
  }

  .box__title {
    .font-size(20);
  }
}

// Articles / Events - Filtering options
.box--gk-events-gk-events-types,
.box--gk-events-gk-events-related,
.box--gk-events-gk-events-months,
.box--gk-articles-gk-articles-categories,
.box--gk-articles-gk-articles-related{
  .box__inner {
    background: #fff;
    border: 1px solid @colour-neutral-light;

    .padding(all);
  }

  .box__title {
    text-transform: none;
    .font-size(@base-font-size);
    font-weight: 600;
    font-family: @base-font-family;
  }

  .navigation__items {
    padding-left: 0;
    > li {
      list-style-type: none;
      .margin(bottom, 0.25);
    }

    .navigation__item {
      &.is-active {
        color: @colour-secondary;
      }
    }
  }
}

// Styles for secondary/tertiary content boxes with blue headings.
#secondary .box--gk-menus-gk-menus-navigation,
.box--gk-contact-gk-contact-details,
.box--gk-locations-gk-locations-info {
  .box__content {
    border: 1px solid @colour-neutral-light;
    background: #fff;
  }
}

.box--gk-contact-gk-contact-details,
.box--gk-locations-gk-locations-info {
  .box__content {
    .padding(vertical, .5);
    .padding(horizontal);

    .contact__address {
      font-style: normal;
    }
  }
}

#secondary .box--gk-menus-gk-menus-navigation,
.box--gk-livebookings-gk-livebookings-booktable,
.box--gk-contact-gk-contact-details,
.box--gk-locations-gk-locations-info {
  .box__inner {
    .box__title {
      background: url(../images/footer_bg.png);

      display: block;
      .padding(vertical, .5);
      .padding(horizontal);
      margin-bottom: 0;

      text-align: center;
      text-transform: uppercase;
      .font-size(17);
      color: #fff;

      .box-shadow(0 1px 2px 0 #777);
      position: relative;
      z-index: 6;

      // Gives top level menu items a strikethrough effect.
      //border-left: 10px solid transparent;
      //border-right: 10px solid transparent;
      //overflow: hidden;
      //
      //> span {
      //  .inline-block();
      //  position: relative;
      //
      //  &:before, &:after {
      //    content: "";
      //    position: absolute;
      //    height: 1px;
      //    border-top: 1px solid white;
      //    top: 48%;
      //    width: 1000px;
      //  }
      //
      //  &:before {
      //    right: 100%;
      //    margin-right: 10px;
      //  }
      //
      //  &:after {
      //    left: 100%;
      //    margin-left: 10px;
      //  }
      //
      //  > a {
      //    color: #fff;
      //  }
      //}
    }

    .box__content {
      .padding(vertical, .5);

      background: url(../images/tertiary-nav_bg.png);
      text-align: center;
    }

    // Bookings form

    .selecter {
      max-width: none;
      margin: 0;
    }

    // Styles for navs
    .nav {
      font-family: @headings-font-family;

      .nav__item a {
        &:hover {
          text-decoration: underline;
        }
      }

      .nav__item.is-active a {
        text-decoration: underline;

        &:hover,
        &:active,
        &:visited {
          text-decoration: underline;
        }
      }

      > .nav__item {
        > a {
          .font-size(17);
          font-weight: 400;
          line-height: 2.5;

          .padding(vertical, .3);
          .padding(horizontal, .8);
        }

        &.is-active > a {
          &:hover,
          &:active,
          &:visited {
            color: @colour-primary;
          }
        }

        // 3rd level
        > .nav {
          > .nav__item {
            > a {
              .font-size(15);
              color: @colour-neutral;
            }
          }
        }
      }
    }
  }
}

.box--gk-livebookings-gk-livebookings-booktable {
  .box__inner {
    .box__content {
      padding-top: 0;
      padding-bottom: 0;
      background: url(../images/tertiary-nav_bg.png);
      .border-radius(0 0 8px 8px);

      .form-item {
        margin-bottom: -4px;

        .padding(vertical, .5);
        .padding(horizontal, .5);
      }
    }
  }
}

.box--gk-rewards-confirm-details {
  img {
    max-width: 100%;
  }
}

.gk-rewards-thank-you {
  .box--gk-rewards-confirmation {
    .padding(horizontal);
    .padding(vertical, 3.5);
    .margin(bottom, 2.3);
    .margin(top, 1);
    border: 1px solid @colour-neutral-light;

    position: relative;

    h2:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &:before,
    &:after {
      content: " ";
      display: block;
      height: 1px;
      border-top: 1px solid @colour-primary;

      left: 40%;
      right: 40%;
      position: absolute;
    }

    &:before {
      top: 40px;
    }

    &:after {
      bottom: 40px;
    }
  }
}

// Footer boxes.
#footer {
  .box__title {
    .font-ratio(1);
    .margin(bottom, 1/2);
    .padding(bottom, 1/3);

    border-bottom: 1px solid #aeaeae;
    color: #fff;
  }
}

.box--gk-rewards-member-benefits {
  .box__inner {
    border: 4px double @colour-secondary;
    .padding(all);

    .box__title {
      .margin(bottom, .5);
    }

    .box__content > ul {
      padding-left: 0;

      > li {
        list-style-position: inside;
        .font-size(16);
        .margin(bottom, .35);
        color: @colour-primary;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
