//
// Branding ====================================================================
//

.branding > a {
  background: @colour-primary;
  display: block;
  text-align: center;

  > img {
    .inline-block();

    float: none;
    margin: 0;
  }
}
