// Careers filter form.
#gk-careers-list-filter-form {
  display: block;
  .form-item__label {
    .element-invisible();
  }
}


// Datetime fields
.field-type-datetime {
  fieldset {
    border: 0;
    padding: 0;

    > legend {
      .font-size(14);
    }
  }

  .container-inline-date .date-padding {
    padding: 0;

    .form-item__label {
      display: none;
    }
  }
}

#gk-rewards-user-details-form,
#gk-rewards-create-account-form,
#user-profile-form,
#gk-referrals-refer-form,
#user-login {
  > div {
    .clearfix();

    > fieldset {
      border: 1px solid @colour-neutral-light;
      background: @colour-neutral-lighter;
     .padding(all);

      > legend {
        .element-hidden();
      }

      .form-wrapper:last-child .form-item:last-child,
      .form-item--edit-pass-pass2 {
        margin-bottom: 0;
      }
    }

    > h2:first-child {
      .font-size(20);
      text-align: center;

      .padding(bottom);
      .margin(bottom, 2);
      border-bottom: 1px solid @colour-neutral-light;
    }

    .form-item__label,
    .field-name-field-user-date-of-birth > div > fieldset > legend {
      text-transform: uppercase;
      font-weight: normal;
    }

    .form-item__help {
      .font-size(14);
      .margin(top, .5);

      a {
        font-weight: 500;
        color: @colour-neutral;
      }
    }

    .form-item__field {
      width: 100%;
    }

    .field-name-field-user-title .form-item__field {
      width: 100px;

      .selecter  {
        margin: 0;
      }
    }

    .form-item--edit-date-of-birth {
      .form-item {
        margin: 0;
      }
    }

    .form-item--edit-field-user-date-of-birth-und-0-value-datepicker-popup-0 {
      margin-bottom: 0;
    }

    .field-name-field-user-date-of-birth > div > fieldset {
      margin-bottom: 0;
    }

    .form-item--edit-comms-opt-in-brand,
    .form-item--edit-comms-opt-in-other {
      clear: both;
    }

    .form-actions {
      clear: both;
      float: right;
      padding: 0!important;
      max-width: 100%;

      .form-submit {
        background: @colour-secondary;
        .border-radius(1px);
        .padding(horizontal, 3);
        max-width: 100%;
      }
    }
  }
}

#gk-rewards-create-account-form,
#user-profile-form,
#gk-referrals-refer-form,
.box--gk-members-gk-members-user-pass-form form {
  /**
   * Password strength indicator.
   */
  .password-strength {
    display: none; // Temporary
    float: right;
    width: 30%;

    > .password-strength-title {
      display: inline;
    }

    > .password-strength-text {
      float: right;
      font-weight: bold;
    }

    .password-indicator {
      background-color: @colour-neutral-light;
      height: 0.5em;
      width: 100%;

      > .indicator {
        height: 100%;
        width: 0%;
        background-color: #33AA33;
      }
    }
  }

  .form-submit {
    clear: both;
    float: right;

    background: @colour-secondary;
    .border-radius(1px);
    .padding(horizontal, 3);
    max-width: 100%;
  }
}

.box--gk-referrals-gk-referrals-share .box__content,
.box--gk-referrals-gk-referrals-refer-form .box__inner,
.box--gk-members-gk-members-user-login-form .box__content,
.box--gk-rewards-gk-rewards-login-create-account .box__content,
.box--gk-members-gk-members-user-pass-form .box__content {
  .padding(all);
  background: @colour-neutral-lighter;
  border: 1px solid @colour-neutral-light;
}

#gk-referrals-refer-form {
  .form-item {
    .clearfix();
  }
}

#gk-rewards-create-account-form {
  .form-item--edit-password {
    margin-bottom: 0;
  }
}

#edit-forgotten-password {
  .margin(bottom, .5);
  display: block;
  float: right;
}

.gk-webform--lfsg-business-enquiries-form {
  .gk-webform--lfsg-business-enquiries-form-subtitle {
    text-align: center;
  }

  .webform-component--name {
    p {
      font-weight: 600;
      margin-bottom: 0 !important;
    }

    margin-bottom: 0 !important;
  }

  .webform-component--title {
    .selecter {
      .margin(top, 0);
    }
  }

  .webform-component--title {
    width: 20rem;
  }

  .webform-component--last-name {
    width: 25rem;
  }

  .webform-component--job-title {
    width: 32rem;
  }

  .webform-component--tel-no {
    width: 17rem;
  }

  .webform-component--company-name,
  .webform-component--email-address {
    width: 35rem;
  }

  // put title, first name, and last name on same line
  .webform-component--title,
  .webform-component--first-name,
  .webform-component--last-name,
  .webform-component--company-name,
  .webform-component--tel-no,
  .webform-component--email-address {
    display: inline-block;
    float: left;
  }

  .webform-component--first-name {
    margin-left: 1.5rem;
  }

  .webform-component--tel-no {
    margin-left: 1rem;
  }

  .webform-component--last-name,
  .webform-component--company-name,
  .webform-component--email-address {
    float: right;
  }

  // put the following on a separate line
  .webform-component--job-title,
  .webform-component--post-code,
  .webform-component--location,
  .webform-component--what-would-you-be-interested-in-receiving-more-details-on,
  input[type="submit"]
   {
    display: block;
    float: left;
    clear: left;
  }


  .webform-component--what-would-you-be-interested-in-receiving-more-details-on {
    width: 100%;
  }

  // hide Location Email Address on business enquiry contact form
  .webform-component--location-email-address {
    display: none;
  }

  // space above submit button
  input[type="submit"] {
    margin-top: 1rem;
    margin-left: 0;
  }
}
