.gk-friends-card {
  #page-title {
    display: none;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  .gk-friends-card-register-link {
    .margin(bottom);
    text-align: center;
  }

  .gk-friends-card-image-med {
    display: none;
  }

  .box--gk-friends-card-monthly-treats,
  .box--gk-friends-card-register,
  .box--gk-friends-card-members-competitions,
  .box--block--gk-friends-card-members-feedback,
  .box--gk-friends-card-members-recipes {
    .padding(horizontal);
    .padding(vertical);
    .margin(bottom, 1);
    border: 1px solid @colour-neutral-light;
    background: none repeat scroll 0 0 #f4f4f4;
    letter-spacing: 0.1em;

    h3 {
      color: #00163b !important;
    }
  }

  h2.gk-friends-card-not-got-a-card-yet {
    .margin(bottom, 1/2);
    .margin(top);
    text-align: center;
  }

  .grid.gk-friends-card-find-your-nearest-location {
    .margin(bottom);

    .grid__cell--choose-location-form-title {
      margin-bottom: 0;

      .box--grid--gk-friends-card-not-got-card-yet {
        .padding(all);

        h2 {
          color: white;
          text-align: left;
          margin-top: 0;
        }
      }
    }

    .grid__cell--choose-location-form {
      .box--gk-friends-card-missing-card {
        .padding(all);
        background-color: #013e7f;
      }

      .box--gk-locations-gk-locations-choose-form {
        width: 100% !important;
      }
    }
  }

  .box--block--gk-friends-card-members-gift-card {
    text-align: center;

    h1 {
      .font-size(28);

      &:before,
      &:after {
        content: '';
      }

      border-bottom: none;
      text-align: center;
      .margin(bottom, 0);
      .padding(bottom, 0);
      line-height: 100%;
    }

    h1, h2 {
      text-align: center;
    }

    h2 {
      .margin(bottom, 1);
    }

    img {
      display: inline-block;
    }
  }

  .box--gk-friends-card-members-competitions {

    h1 {
      display: block;
      .margin(bottom, 0);
    }

    .gk-friends-card-members-competitions-text-top,
    .gk-friends-card-members-competitions-text-bottom {
      margin-top: 0;
      text-align: center;
      margin-bottom: 1.75rem;
    }


    .margin(bottom, 0);
    .padding(bottom, 0);
  }

  .box--gk-friends-card-members-recipes {
    .padding(top, 0);

    img {
      width: 100%;
      display: block;
    }

    h3 {
      text-transform: none !important;
      letter-spacing: normal !important;
    }
  }

  .box--gk-friends-card-members-recipes,
  .box--block--gk-friends-card-members-contact-us {
    p {
      text-align: left !important;
      text-transform: none !important;
      letter-spacing: normal !important;
      .margin(bottom, 0);
    }
  }

  .box--block--gk-friends-card-members-contact-us {
    h2 {
      display: inline;
      padding-left: 0.5rem;
      color: #00163b !important;
    }
  }

  .box--gk-friends-card-members-partner-offers {
    .margin(bottom, 0);
    padding: 0px;
  }

  .box--gk-friends-card-offer {
    .box__content {
      text-align: center;
    }
  }

  .box--block--gk-friends-card-register,
  .box--gk-friends-card-members-partner-offers,
  .box--grid--gk-friends-card-members-partner-offers {
    img {
      .margin(top, 0);
      .margin(bottom, 0);
      vertical-align: center;

      height: auto !important;
      max-width: 100%;
      width: 100%;
    }
  }

  .box--block--gk-friends-card-register {
    .padding(left, 2.5);
    .padding(top, 1);

    // only relates to right cell
    .box__content {
      h2 {
        .margin(top, 0);
      }

      p {
        text-align: left;
      }
    }
  }

  // vertically centre text in block
  a.gk-button--register-login {
    padding-top: 0.6rem;
  }

  .box--gk-friends-card-members-feedback {
    .margin(top, 0);
    .margin(bottom, 0);
  }

  .box--gk-friends-card-monthly-treats {
    .margin(bottom, 0);

    p {
      .margin(horizontal, 1);
      text-align: left;

    }
  }
  .box--gk-friends-card-members-feedback {
    h3 {
      .font-size(14);
    }
  }

  // white text on blue background
  .box--grid--gk-friends-card-not-got-card-yet,
  .box--block--gk-friends-card-discounts,
  .box--block--gk-friends-card-monthly-treat,
  .box--block--gk-friends-card-members-prize-draw,
  .box--block--gk-friends-card-members-recipes-text,
  .box--block--gk-friends-card-members-partner-offers-text,
  .box--block--gk-friends-card-members-preview-text,
  .box--gk-friends-card-members-prize-draw > h3 {
    text-align:center;
    background-color: #013e7f;
    color: white;

    .font-size(20);
    .margin(top, 1/2);
  }

  .box--grid--gk-friends-card-not-got-card-yet {
    .margin(top, 0);
  }

  .box--block--gk-friends-card-monthly-treat {
    .padding(horizontal);
    .padding(vertical);
  }

  .box--gk-locations-gk-locations-choose-form,
  .box--block--gk-friends-card-lost-cards {
    .box__inner {
      h2 {
        .margin(bottom, 0);
      }

      h5 {
        letter-spacing: normal;
      }
    }
  }

  .box--block--gk-friends-card-members-prize-draw {
    .margin(top, 0) !important;
  }

  .box--block--gk-friends-card-members-recipes-text,
  .box--block--gk-friends-card-members-partner-offers-text,
  .box--block--gk-friends-card-members-prize-draw,
  .box--gk-friends-card-members-events,
  .box--block--gk-friends-card-members-feedback {
    .font-size(14);
    .padding(horizontal, 1);
    .margin(vertical, 0);

    p {
      .margin(vertical, 1);
    }
  }

  .box--gk-friends-card-members-prize-draw {
    .box--block--gk-friends-card-members-prize-draw {
      p {
        .font-size(18);

        a {
          color: #aa9e6d;
        }
      }

      .padding(bottom, 1);
    }

    h3 {
      color: white;

      a {
        color: #aa9e6d;
      }
    }

    .margin(top, 0);
  }

  .box--block--gk-friends-card-discount {
    .box--gk-friends-card-register;
    text-align:center;
    .font-size(20);
    .margin(top, 1/2);
    .margin(bottom, -1);
    .padding(vertical, 1);
  }

  .box--gk-friends-card-discount {
    .box--gk-friends-card-register;
    .padding(horizontal, 1);

    &:first-child {
      .margin(right, 1/2);
    }

    &:last-child {
      .margin(left, 1/2);
    }
  }

  .box--gk-friends-card-members-events,
  .box--gk-friends-card-members-feedback,
  .box--gk-friends-card-members-contact-us {
    .padding(horizontal, 0);

    h2 {
      .margin(horizontal, 0);
      .margin(bottom, 1/2);
    }

    h3 {
      .margin(top, 0);
      .margin(bottom, 1/2);
      .font-size(12);
    }

    p {
      .margin(horizontal, 1);
    }
  }

  .box--gk-friends-card-members-events {
    .margin(top, 0);

    img {
      width: 100%;
    }

    p {
      text-align: left;
      .margin(horizontal, 0);
      .margin(top, 1/2);
    }

    h4 {
      color: #aa9e6d;
    }

  }

  .box--block--gk-friends-card-members-feedback {
    letter-spacing: normal;
    .padding(horizontal, 1);
    .padding(vertical, 0.5);

    p {
      margin: 0;
      padding: 0;
    }
  }

  .box--block--gk-friends-card-members-preview-text {
    background-color: #00173d;

    h2 {
      color: white;
      .margin(bottom, 1/2);
    }

    h2 > a {
      color: #aa9e6d;
    }
  }

  .box--gk-friends-card-members-contact-us {
    p {
      .margin(horizontal, 0);
    }
  }

  .gk-friends-card-pick-up-card-text {
    letter-spacing: normal;
    color: #00163b !important;
  }

  .box--gk-friends-card-members-recipes,
  .box--gk-friends-card-members-prize-draw,
  .box--gk-friends-card-members-events,
  .box--gk-friends-card-members-partner-offers,
  .box--gk-friends-card-members-feedback {
    .margin(bottom, 2);
  }

  .box--gk-friends-card-members-anchors {
    .margin(horizontal, 0);
    .padding(horizontal, 0);

    ul {
      .padding(horizontal, 0);
    }

    ul > li {
      display: inline;
      .font-size(18);
      .padding(horizontal, 0.5);

      &:first-child {
        padding-left: 0rem;
      }

      &:last-child {
        padding-right: 0rem;
      }
    }
  }

  // members feedback slideshow styling
  .gk-cycle-slideshow-members-feedback {
    .gk-cycle-slideshow__pager-controls {
      background-color: #fff;
      float: right;
    }

    .gk-cycle-slideshow__prev,
    .gk-cycle-slideshow__next,
    .gk-cycle-slideshow__pager {
      color: #a3bdda;

      &:hover,
      .cycle-pager-active {
        color: @colour-primary;
      }
    }

    .gk-cycle-slideshow__next {
      margin-left: 0px;
    }

  }
}
