// Item lists
.items__item {
  border-bottom: 1px solid @colour-neutral-light;
  .padding(bottom);
  .margin(bottom);

  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  .clearfix();

  .item__content {
    .clearfix();
  }

  h3 {
    .font-size(18);

    .margin(bottom, .5);
    margin-top: 0;

    font-weight: 400;

    a {
      color: @colour-secondary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .item__date {
    .font-size(14);

    .margin(bottom, 1/3);

    span {
      font-style: italic;
    }

    &:before {
      .margin(right, 1/3);
      .font-size(14);
      float: left;
    }
  }

  .list--inline,
  .links,
  .field-name-field-article-categories {
    margin-bottom: 0!important;
  }

  .field-type-image {
    img {
      padding: 3px;
      border: 1px solid #c7c7c7;
      .border-radius(2px);
    }
  }

  .field-name-field-article-categories,
  .list--inline {
    float: left;
    .margin(right, 1.5);
    .font-size(14);
  }

  .links.inline {
    float: right;
    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
      display: block;
    }
  }

  .career-apply {
    float: left;
  }

  .node-readmore a:before,
  .career-apply:before {
    float: right;
    .font-size(16);
    .margin(left, 1/2);
    margin-top: -1px; // Gives off an illusion of being too low otherwise.
  }

  .field-name-field-article-categories {
    .field-item:before {
      content: "Posted in: ";
      color: @colour-secondary;
    }
  }

  .list--inline {
    float: left;
    .margin(right, 1.5);

    a {
      color: @colour-secondary;

      &:before {
        .margin(right, 1/2);
      }
    }
  }

  .field {
    .margin(bottom, 1/2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .field-label {
    float: left;
    font-weight: bold;
  }
}
