//
// Locations ===================================================================
//

// List page
.locations-list {
  margin-left: 0;
}

.box--order-by-links {
  display: none;
}

.box--location-list-group {
  .padding(top);

  border-top: 1px dotted @colour-neutral-light;
  padding-left: 0;

  .box__title {
    .font-size(32);

    color: #003d7d;
    float: left;
    font-family: futura-pt;
    font-weight: 400;
    text-transform: uppercase;
    width: 20%;
  }

  .box__content {
    .padding(top, 2/3);

    float: left;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    width: 80%;

    a {
      color: @colour-neutral;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.locations-list__location-title {
  display: block;

}


// Search form.
#top .box--gk-locations-gk-locations-search-form {
  .box__title,
  .box__content {
    .inline-block();

    vertical-align: middle
  }

  .box__title {
    .font-size(17);
    .margin(right);

    color: @colour-primary-lighter;
    margin-bottom: 0;
  }
}


// Location node.
.node--location {
  .gk-core-slideshow {
    .margin(bottom);
    z-index: 5;
    display: block;
    position: relative;

    .gk-core-slideshow__slide  {
      width: 100%;

      img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto !important;
      }
    }
  }

  .tabset {
    margin-bottom: 0;

    .tabset__pane:first-child {
      display: block;
    }
  }

  // Location info.
  .location__info {
    .clearfix();
    .padding(all);

    background: @colour-neutral-lighter;
    border: 1px solid @colour-neutral-light;
    text-align: center;

    h4 {
      .font-size(15);
    }

    .location__address h4 {
      margin-top: 0;
    }
  }
}

// Facilities
.location__facilities {
  > h3 {
    .font-size(19);

    color: @colour-secondary;
  }

  > ul {
    .column-count(3);
    .column-gap(@base-gutter-width + 0px);

    padding: 0;

    > li {
      .font-size(16);

      list-style: none;

      &:before {
        content: '✓';
        color: @colour-primary;
        margin-right: 5px;
      }
    }
  }
}

// Location info.
.location__info {
  font-family: @headings-font-family;
  color: #727272;

  strong {
    font-weight: 500;
  }

  .oh-display-label {
    font-weight: 500;
    padding-right: 5px;
    text-align: right;
    width: auto !important;
  }

  h4 {
    text-transform: uppercase;
  }

  a.button {
    .margin(top);
    line-height: inherit;
  }
}

.location__name {
  .margin(bottom);
  .padding(bottom, 1/2);

  border-bottom: 1px solid #8092af;
  margin-top: 0;
}

.location__contact > div {
  white-space: nowrap;
}

.location__email > a {
  .font-size(14);

  color: @colour-neutral;
}


// Location search results.
.location-map {
  border: 1px solid @colour-neutral-light;
}

.location-search-results__list-item {
  .margin(bottom);
  .padding(bottom);

  border-bottom: 1px dashed @colour-neutral-light;


  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.location-search-results__title,
.location-search-results__distance {
  .inline-block();

  width: 49.5%;
}

.location-search-results__distance {
  text-align: right;
}
