//
// Menus =====================================================================
//

.box--gk-menus-gk-menus-current-location {
  .box__inner {
    .padding(vertical, .5);
  }

  .gk-menus-current-location {
    .inline-block();
    width: 70%;
    vertical-align: middle;

    color: @colour-primary-lighter;
    .font-size(17);
    text-transform: uppercase;
    font-family: @headings-font-family;

    a  {
      text-decoration: underline;
      color: #fff;

      &:hover {
        color: @colour-primary-lighter;
      }
    }
  }

  .gk-locations-choose-location-form {
    .inline-block();
    width: 30%;
    vertical-align: middle;

    .form-item {
      margin-bottom: 0;
    }

    .selecter {
      max-width: none;
      margin: 0;
    }
  }
}

.section-menus {
  .box--entity-view.box--node,
  #content-header {
    display: none;
  }

  #primary .inner {
    background: none;
    border: none;

    padding: 0;
  }

  .box__content > .box--menu-section {
    background: #fff;
    border: 1px solid @colour-neutral-light;

    .padding(horizontal, 2);
    .padding(top);
    .margin(bottom);

    .box__title {
      text-align: center;
      margin-top: 0;

      font-weight: 400;
    }

    .box--highlighted {
      border: 4px double @colour-secondary;

      .padding(horizontal);
      .padding(top);
      .margin(bottom, 1.5);
    }
  }

  .box--menu-section .box__content {
    .margin(left, -2);

    .menu__item {
      .margin(bottom, 2);
      .padding(left, 2);

      .item__info {
        .clearfix();

        .item__title {
          font-weight: 400;
          font-family: adobe-text-pro;
          text-transform: capitalize;
          letter-spacing: 0px;

          color: @colour-primary;
          .font-size(17);
          line-height: 22px;

          margin: 0;
        }

        .item__price {
          .font-size(18);

          color: @colour-secondary;
          float: right;

          .margin(left, .45);
        }

        .item__title,
        .item__price {
          font-family: "adobe-caslon-pro";
          letter-spacing: 0;
        }
      }

      .item__description {
        margin-bottom: 0;
      }
    }
  }
}
