//
// Navigation ==================================================================
//

// Tabs.
.nav--tabs {
  border: 0;

  > li {
    .margin(right, 1/2);

    margin-bottom: 0;

    > a {
      .font-size(17);
      .padding(vertical, .5);
      .padding(horizontal);
      .transition(0.2s all);

      background: @colour-neutral-lighter;
      border: 1px solid @colour-neutral-light;
      font-family: @headings-font-family;
      text-transform: uppercase;
    }

    &.is-active > a {
      background: url(../images/footer_bg.png);
      border-color: transparent;
      color: #fff;
    }
  }
}

// User/footer bottom menus.
.box--menu-block-gk-core-user-menu,
.box--menu-block-gk-core-footer-menu {
  .nav {
    margin-bottom: 0;
  }

  .nav__item {
    .inline-block();

    vertical-align: middle;

    &:after {
      content: " |";
    }

    &:last-child:after {
      display: none;
    }

    > a {
      .font-size(14);
      .transition(0.2s all);

      border-bottom: transparent 1px solid;

      &:hover {
        border-color: @colour-primary;
      }
    }
  }
}

// Footer bottom menu.
.box--menu-block-gk-core-footer-menu .nav__item > a {
  color: #fff;
}

// Footer menu.
#footer {
  .box--menu-block-gk-core-main-menu {
    .nav {
      .column-count(2);
      .column-gap(@base-gutter-width + 0px);

      margin-bottom: 0;
    }

    .nav__item {
      display: block;

      > a {
        .font-size(14);
        .padding(vertical, 1/4);

        color: #fff;
        display: block;

        &:hover {
          text-decoration: underline;
        }
    }
    }
  }
}

// Primary menu.
#navigation .box--menu-block-gk-core-main-menu {
  margin-bottom: 0;
  text-align: center;

  .nav {
    margin-bottom: 0;
  }

  .nav__item {
    .inline-block();
    .margin(right, 2);

    &:last-child {
      margin-right: 0;
    }

    &.is-active > a {
      border-color: @colour-primary;
    }

    > a {
      .transition(0.2s all);

      border-bottom: transparent 1px solid;
      color: @colour-primary;
      font-family: @headings-font-family;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-rendering: optimizeLegibility;
      text-transform: uppercase;
      white-space: nowrap;

      .font-size(14);

      &:hover {
        border-color: @colour-primary;
      }
    }
  }
}

#content .box--gk-menus-gk-menus-navigation .box__inner {
  .margin(bottom);
}

// Second level navigation & menu navigation.
#tertiary .box--menu-block-gk-core-secondary-menu,
#tertiary .box--menu-block-gk-members-user-menu,
#content .box--gk-menus-gk-menus-navigation {
  .box__content {
    a {
      font-family: @headings-font-family;
      letter-spacing: 1px;
    }

    > .nav {
      margin-bottom: 0;

      border: 1px solid @colour-neutral-light;
      background: #fff;

      text-align: center;

      > .nav__item {
        border-top: 1px solid @colour-neutral-light;
        &:first-child {
            border-top: none;
        }

        > a {
          display: block;
          .padding(vertical, .5);
          .padding(horizontal);

          // Gives top level menu items a strikethrough effect.
          //border-left: 10px solid transparent;
          //border-right: 10px solid transparent;
          //overflow: hidden;

          text-transform: uppercase;
          .font-size(15);

          &:hover {
            background: @colour-primary-light;
            color: @colour-primary-dark;
          }
        }

        &.is-expanded {
          > a:first-child {
            .box-shadow(0 1px 2px 0 #777);
            position: relative;
          }
        }

        &.is-active,
        &.is-active > a:first-child:hover {
          background: url(../images/footer_bg.png);
        }

        &.is-active {
          > a:first-child {
            color: #fff;

            // Gives top level menu items a strikethrough effect.
            //> span {
            //  .inline-block();
            //  position: relative;
            //
            //  &:before, &:after {
            //    content: "";
            //    position: absolute;
            //    height: 1px;
            //    border-top: 1px solid white;
            //    top: 48%;
            //    width: 1000px;
            //  }
            //
            //  &:before {
            //    right: 100%;
            //    margin-right: 10px;
            //  }
            //
            //  &:after {
            //    left: 100%;
            //    margin-left: 10px;
            //  }
            //}
          }
        }
        // Second level and PDF links
        > .nav,
        > .pdf-link,
        > .pdf-link:hover {
          background: url(../images/tertiary-nav_bg.png);
        }

        > .nav {
          .padding(vertical, .65);

          .nav__item a {
            &:hover {
              text-decoration: underline;
            }
          }

          .nav__item.is-active a {
            text-decoration: underline;

            &:hover,
            &:active,
            &:visited {
              text-decoration: underline;
            }
          }

          > .nav__item {
            .margin(top);

            &:first-child {
              margin-top: 0;
            }

            > a {
              .font-size(16);
              font-weight: 400;
              line-height: 2.5;

              .padding(vertical, .3);
              .padding(horizontal, .8);
            }

            &.is-active > a {
              &:hover,
              &:active,
              &:visited {
                color: @colour-primary;
              }
            }

            // 3rd level
            > .nav {
              > .nav__item {
                > a {
                  .font-size(16);
                  color: @colour-neutral;
                }
              }
            }
          }
        }

        > .pdf-link {
          text-transform: none;
          .font-size(15);
          cursor: auto;

          .padding(top, .25);

          position: relative;

          border-left-width: 1.5em;
          border-right-width: 1.5em;

          &:after {
            content: "";
            border-top: 1px solid @colour-primary;
            width: 100%;

            position: absolute;
            left: 0;
            top: 0;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
