//
// Regions =====================================================================
//
body {
  background: @colour-primary-dark;
}

#page {
  background: url(../images/body_bg.jpg) center top fixed;
  overflow: hidden;
}

.container__inner {
  max-width: 940px;
}

// Header
#header {
  background: #fff;
  border-bottom: 1px solid @colour-neutral-light;

  .container__inner > .grid {
    padding: 0;
  }
}

// Navigation
#navigation {
  .container__inner > .grid {
    .padding(bottom, 1/4);
    .padding(top, 3/2);
  }
}

// Search (home page)
#search {
  .margin(bottom, 1);

  .container__inner {
    .padding(all);

    background: #fff;
    border: 1px solid @colour-neutral-light;

    > .grid {
      padding: 0;
    }
  }
}

// Main
#main {
  .margin(bottom);
}

// Primary
#primary {
  > .inner {
    .padding(all);

    background: #fff;
    border: 1px solid @colour-neutral-light;
  }
}

// Footer
#footer {
  .box-shadow(0 1px 1px 0 rgba(0,0,0,.15));

  background: url(../images/footer_bg.png);
  position: relative;
}

// Footer bottom
#footer-bottom {
  .font-size(14);

  background: @colour-primary-dark;
  color: #fff;
}
