.reward {
  .box--gk-rewards-highlighted-info {
    img {
      max-width: 100%;
    }

    ul {
      border: 4px double @colour-secondary;
      .padding(horizontal);
      .padding(vertical);

      > li {
        list-style-position: inside;
        .font-size(16);
        .margin(bottom, .75);
        color: @colour-primary;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
