.social-icon.facebook {
  .transition(0.2s opacity);

  background: url(../images/sprite.png) 0 -80px;
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: -999em;
  width: 30px;

  &:hover {
    opacity: 0.5;
  }
}
