.tier {
  .tier__inner {
    height: 200px;
    .padding(all);
    background-image: url(../images/progress_bg.jpg);
    background-position: center center;
    text-align: center;
    color: #fff;

    position:relative;

    h2 {
      color: #fff;
      .margin(bottom, 1/2);

      > span {
        border-bottom: 2px solid @colour-secondary;
      }
    }

    .field-name-field-reward-tier-description {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      .padding(horizontal, .5);

      background: @colour-secondary;
      text-transform: uppercase;
      font-family: @headings-font-family;
      letter-spacing: 1px;
      .font-size(14);
      font-weight: 500;

      .field-items {
        display: table;
        height: 65px;
        width: 100%;

        > .field-item {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }

  &.tier--not-reached {
    .tier__inner {
      opacity: 0.45;
      background-color: #274F8F;
      background-image: none;

      .field-name-field-reward-tier-description {
        background: @colour-primary;
      }

      h2 {
        > span {
          border-bottom: none;
        }
      }
    }
  }
}

.tier-group {
  > h2 {
    display: none;
  }
}
