//
// Vouchers ====================================================================
//

.box--gk-vouchers-gk-vouchers-user-register-form {
  .box__inner {
    .padding(all);

    background: #fff;
    border: 1px solid @colour-neutral-light;
  }
}
