//
// Desk ========================================================================
//

// Header.
#header .container__inner {
  > .grid {
    text-align: right;
  }

  .box div {
    display: inline-block;
    vertical-align: middle;
  }
}

.branding {
  .grid-item(1/3);

  margin-bottom: -1px;
}

.box--menu-block-gk-core-user-menu,
.box--gk-members-gk-members-signup-form {
  .inline-block();
  .padding(left, 2);

  float: none;
  margin-bottom: 0;
  margin-top: 22px;
  vertical-align: middle;
  width: auto;
}

// Search.
#search .box {
  .grid-item(1/3);
  .padding(right);

  border-right: 1px solid @colour-neutral-light;
  margin: 0;

  &:last-child {
    border-right: 0;
    padding-right: 0;
  }
}

// Home page
.front .ctas__cta {
  .grid-item(1/3);
}

.box--gk-articles-gk-articles-promoted,
.box--gk-events-gk-events-promoted {
  .grid-item(1/2);
}

// Footer.
#footer .box {
  .grid-item(1/3);

  margin: 0;
}

// Footer bottom
#footer-bottom {
  .box--gk-core-copyright {
    .grid-item(1/2);
  }

  .box--menu-block-gk-core-footer-menu {
    .grid-item(1/2);

    text-align: right;
  }
}

// Locations
.node--location {
  .location__info {
    > div {
      .padding(right);

      display: inline-block;
      max-width: 33%;
      vertical-align: top;

      &:last-child {
        padding-right: 0;
      }
    }

    h4 {
      margin-top: 0;
    }
  }
}

.box--location-list-group {
  .grid-item(1/3);

  &:nth-child(3n+2) {
    clear: left;
  }

  &:nth-child(-n+4) {
    border-top: 0;
    padding-top: 0;
  }
}

// Locations search
#top .box--gk-locations-gk-locations-search-form {
  .box__content {
    width: 30%;
  }
}

// Menus
.box--menu-section .box__content > .menu__item {

  &:nth-child(2n+1) {
    clear: left;
  }

  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

// Careers filter form.
#gk-careers-list-filter-form {
  .form-item {
    max-width: 25%;
    .padding(right, 1/2);
    float: left;

    .selecter {
      margin: 0;
    }
  }
}

// Item thumbnails.
.items__item {
  &.image-style--gk_thumbnail_small .item__content{
    margin-left: 160px;
  }

  .field-type-image {
    float: left;
    .margin(right);
  }
}

.reward {
  .box--gk-rewards-highlighted-info {
    &:first-child .box__inner {
      .padding(right);
      border-right: 1px solid @colour-neutral-light;
    }

    &:last-child .box__inner {
      .padding(left);
    }
  }
}

.box--gk-rewards-confirm-details {
  .box__inner {
    .margin(horizontal, 6);
  }
}

#gk-rewards-user-details-form {
  .padding(all, 3.4);
  background: url(../images/sign_up_bg.jpg);
  background-size: cover;
  overflow: hidden;
  border: 1px solid @colour-neutral-light;

  > div {
    background: #fff;
    border: 1px solid @colour-neutral-light;
    .padding(all, 2);

    > .form-wrapper,
    > .form-item {
      padding-left: 150px;
    }

    .form-item__label {
      margin-left: -150px;
      width: 150px;
    }

    .form-item--edit-referral-code {
      float: left;
      width: 45%;
    }

    .form-actions {
      clear: none;
      width: 35%;
    }
  }
}

#user-profile-form,
#gk-referrals-refer-form {
  > div {
    > .form-wrapper,
    > .form-item,
    > fieldset > .form-wrapper,
    > fieldset > .form-item,
    #edit-forgotten-password {
      padding-left: 160px;

      .form-item {
        .clearfix();
      }
    }

    .form-item__label,
    .field-name-field-user-date-of-birth > div > fieldset > legend {
      margin-left: -160px;
      width: 160px;
    }

    .form-item__field {
      float: left;
    }
  }
}

#gk-rewards-user-details-form,
.box--gk-rewards-gk-rewards-login-create-account form,
#user-profile-form,
#gk-referrals-refer-form,
#user-login {
  > div {
    > .form-wrapper,
    > fieldset > .form-wrapper,
    > .form-item {
      .clearfix();
    }

    .form-item__label,
    .field-name-field-user-date-of-birth > div > fieldset > legend {
      margin-top: 4px;
      float: left;
      text-align: right;
      .padding(right, .8);
    }
  }
}

#gk-rewards-user-details-form,
.box--gk-rewards-gk-rewards-login-create-account form,
#user-profile-form {
  > div {
    #edit-name > .form-item {
      float: left;
    }

    .form-item--edit-title {
      width: 20%;
      margin-right: 5%;

      .selecter  {
        margin: 0;
      }
    }

    .form-item--edit-first-name {
      width: 35%;
      margin-right: 5%;
    }

    .form-item--edit-last-name {
      width: 35%;
    }

    .form-item--edit-postcode {
      width: 50%;
      float: left;
    }

    .form-item--edit-date-of-birth {
      width: 50%;
      float: left;
    }

    .form-item--edit-comms-opt-in-brand {
      clear: both;
    }

    .form-item--edit-friends-card-number,
    .form-item--edit-user-location {
      width: 100%;
      float: left;

      .form-item__field {
        margin-top: 9px;
      }
    }

    .form-item--edit-user-location {
      label[for=edit-user-location]
      {
        width: 135px;
        margin-left: -138px;
        margin-top: -10px;

      }
    }
  }
}

.reward {
  .box--gk-rewards-highlighted-info {
    ul {
      .padding(horizontal, 2.5);
      .padding(vertical, 1.5);

      > li {
        .font-size(18);
      }
    }
  }
}

.box--gk-rewards-gk-rewards-tiers .grid {
  .margin(left, -.1);
}

.tier {
  .padding(left, .1);

  &:nth-child(1) .tier__inner {
    background-position: 0 center;
  }

  &:nth-child(2) .tier__inner {
    background-position: -218px center;
  }

  &:nth-child(3) .tier__inner {
    background-position: -436px center;
  }
}

.box--gk-rewards-confirm-details {
  .box__inner {
    .padding(horizontal, 6);
    .padding(vertical);
    .margin(top, 1);
    .margin(bottom, 1.5);
    border: 1px solid @colour-neutral-light;
  }
}

.gk-rewards-thank-you,
.box--gk-members-gk-members-user-login-form .box__inner,
.box--gk-members-gk-members-user-pass-form .box__inner {
  .padding(horizontal, 6);
}

.box--gk-rewards-gk-rewards-login-create-account {
  .padding(right, 6);
}

.box--gk-rewards-member-benefits {
  .padding(left, 6);

  .box__inner {
    height: 100%;
  }

  .box__title {
    text-align: center;
  }

  .box__content > ul {
    > li {
      .margin(bottom, .75);
    }
  }
}

.section-sign-in {
  #edit-forgotten-password {
    float: left;
  }

  #user-login > div .form-actions {
    clear: none;
  }
}

// Friends Card
.gk-friends-card {
  // we don't want to dispay the main header in the default position
  h1 {
    display: none;
  }

  .box--gk-friends-card-intro {
    h1 {
      display: block;
      border-bottom: medium none;
      padding-top: 10px;
      margin-bottom: 0;
    }

    background-image: url(/sites/default/files/lfsg-friends-card-public-main-image.jpg);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    margin-left: -3rem;
    margin-right: -1.5rem;
    .padding(horizontal, 7);
    .padding(bottom);

    h2 {
      color: #013e7f;
      font-style: italic;
      text-align: center;
    }

    .gk-friends-card-image-med {
      display: block;
      text-align: center;
    }
  }

  .grid__cell--choose-location-form {
    padding-left: 0;
  }

  .box--grid--gk-friends-card-not-got-card-yet,
  .box--gk-friends-card-missing-card {
    height: 7rem;
  }

  .box--gk-friends-card-members-recipes {
    .padding(bottom, 0);

    img {
      width: auto;
    }
  }
}
