//
// Lap =========================================================================
//

// Home page
.front .ctas__cta {
  .grid-item(1/3);
}

// Item thumbnails.
.items__item {
  &.image-style--gk_thumbnail_small .item__content{
    margin-left: 160px;
  }

  .field-type-image {
    float: left;
    .margin(right);
  }
}

// Locations
.node--location {
  .location__info {
    > div {
      .padding(right);

      display: inline-block;
      max-width: 33%;
      vertical-align: top;

      &:last-child {
        padding-right: 0;
      }
    }

    h4 {
      margin-top: 0;
    }
  }
}

#gk-rewards-user-details-form {
  > div {
    > .form-wrapper {
      .clearfix();
    }
    #edit-name > .form-item {
      float: left;
    }

    .form-item--edit-title {
      width: 24%;
      margin-right: 2%;

      .selecter  {
        margin: 0;
      }
    }

    .form-item--edit-first-name {
      width: 35%;
      margin-right: 2%;
    }

    .form-item--edit-last-name {
      width: 35%;
    }
  }
}

.section-sign-in {
  #edit-forgotten-password {
    float: left;
  }

  #user-login > div .form-actions {
    clear: none;
  }
}
