//
// Palm ========================================================================
//

// Hide banner
.box--gk-banners-slideshow {
  display: none;
}

// Remove dots before and after headings
h1:before,
h1:after,
.box--gk-articles-gk-articles-promoted .box__title:before,
.box--gk-articles-gk-articles-promoted .box__title:after,
.box--gk-events-gk-events-promoted .box__title:before,
.box--gk-events-gk-events-promoted .box__title:after {
  display: none;
}


// Navigation - Tabs
.nav--tabs > li {
  width: 100%;
}

// Friends Card
.box--gk-friends-card-members-competitions {
  .grid {
    padding-left: 0px !important;
    margin-left: 0px !important;
  }
}

.grid__cell {
  .box--gk-friends-card-intro,
  .box--gk-friends-card-monthly-treats,
  .box--gk-friends-card-register,
  .box--block--gk-friends-card-members-gift-card {
    padding-left: 0px !important;
  }
}

.box--block--gk-friends-card-register {
  padding-left: 2.846rem !important;
}

.gk-friends-card {
  a[href^="mailto:"] {
    font-size: 0.6em !important;
  }

  header#content-header {
    .grid__cell {
      padding-left: 0px !important;
    }
  }
}

.gk-hide-for-palm {
  display: none;
}

.gk-webform--lfsg-business-enquiries-form {

  .webform-component--title,
  .webform-component--first-name,
  .webform-component--last-name,
  .webform-component--job-title,
  .webform-component--company-name,
  .webform-component--post-code,
  .webform-component--tel-no,
  .webform-component--email-address,
  .webform-component--location,
  .webform-component--what-would-you-be-interested-in-receiving-more-details-on {
    display: block;
    float: left;
    .clearfix();
    margin-left: 0rem;
    width: 100%;
  }

}