//
// Portable ====================================================================
//
#header {
  .container__inner {
    .padding(bottom);
  }

  .box--gk-members-gk-members-signup-form {
    text-align: center;

    .box__title,
    .box__content {
      .inline-block();

      vertical-align: middle;
    }
  }
}

#navigation .box--menu-block-gk-core-main-menu {
  .naver-handle {
    .font-size(17);
    .padding(vertical, .5);
    .padding(horizontal);

    background: url(../images/footer_bg.png);
    color: #fff;
    display: block;
    font-family: @headings-font-family;
    height: auto;
    text-transform: uppercase;
  }

  .naver-wrapper {
    height: 0 !important;
    overflow: hidden;
  }

  &.open .naver-wrapper {
    height: auto !important;
  }

  .box__content {
    a {
      font-family: @headings-font-family;
    }

    > .nav {
      margin-bottom: 0;

      border: 1px solid @colour-neutral-light;
      background: #fff;

      text-align: center;

      > .nav__item {
        border-top: 1px solid @colour-neutral-light;
        display: block;
        margin-right: 0;

        &:first-child {
          border-top: none;
        }

        > a {
          display: block;
          .padding(vertical, .5);
          .padding(horizontal);

          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          overflow: hidden;

          text-transform: uppercase;
          .font-size(17);

          &:hover {
            background: @colour-primary-light;
            border-bottom-color: transparent;
            color: @colour-primary-dark;
          }
        }

        &.is-expanded {
          > a:first-child {
            .box-shadow(0 1px 2px 0 #777);
            position: relative;
          }
        }

        &.is-active,
        &.is-active > a:first-child:hover {
          background: url(../images/footer_bg.png);
        }

        &.is-active {
          > a:first-child {
            color: #fff;


            > span {
              .inline-block();
              position: relative;

              &:before, &:after {
                content: "";
                position: absolute;
                height: 1px;
                border-top: 1px solid white;
                top: 48%;
                width: 1000px;
              }

              &:before {
                right: 100%;
                margin-right: 10px;
              }

              &:after {
                left: 100%;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#primary {
  .margin(bottom);
}

#footer .box--menu-block-gk-core-main-menu {
  display: none;
}

.tier {
  &:nth-child(1) .tier__inner {
    background-position: center -200px;
  }

  &:nth-child(2) .tier__inner {
    background-position: center -335px;
  }

  &:nth-child(3) .tier__inner {
    background-position: center -470px;
  }
}
